
        .product-form
        {
            width: 20rem;
            max-width: 90%;
            margin:auto;
        }
        .form-control
        {
            margin: 1rem 0;

        }

        .form-control label,
        .form-control input
        {
            display: block;
            width:100%;
            color:#bd08ce9f;

        }
        .form-control input
        {
            border: 1px solid #bd08ce9f;
            font:inherit;
            border-radius: 3px;
        }
        button
        {
            font:inherit;
            border: 1px solid #ffffff;
            background: #eb0acd;
            border-radius: 3px;
            color: #ffffff;
            cursor: pointer;
        }
        button :hover,
        button :active
        {
            background-color: beige;
            color:chartreuse;
        }